include ../../note-error/note-error-template

mixin defaultInput(label, hintMessage = null, isRich = false)
    -
        let containerClass = ''
        let containerId = ''

        if(attributes.class) {
            containerClass = attributes.class;
            delete attributes.class;
        }

        if(attributes.id) {
            containerId = attributes.id;
            delete attributes.id;
        }

    .default-input(class=`${containerClass} ${isRich ? 'default-input_rich' : ''}` id=containerId)
        input.default-input__input(placeholder="")&attributes(attributes)
        .default-input__icon-and-name
            if (block)
                .default-input__icon
                    block
            p.default-input__name= label
        .default-input__hint-and-error
            p.default-input__hint= hintMessage
            note-error(class="default-input__error default-input__error_hidden" hidden="")
